initBC.png filter=lfs diff=lfs merge=lfs -text
initialBC.png filter=lfs diff=lfs merge=lfs -text
ex03timeBC.ogv filter=lfs diff=lfs merge=lfs -text
ex01nonLin.ogv filter=lfs diff=lfs merge=lfs -text
ex02deg2.ogv filter=lfs diff=lfs merge=lfs -text
ex02diff.ogv filter=lfs diff=lfs merge=lfs -text
ex02lin.ogv filter=lfs diff=lfs merge=lfs -text
ex03BC.ogv filter=lfs diff=lfs merge=lfs -text
